{% extends "layout.html" %}
{% block body %}
{% if devicegroup is none %}
<h2>Add Device Group</h2>
{% else %}
<h2>Edit Device Group</h2>
{% endif %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('save' , item='devicegroup' )}}" method=post>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{ devicegroup.name }}">

    <button type="submit" name="save" value="save">save</button>
    <button type="cancel" name="cancel">close</button>
    <input type="hidden" id="devicegroupid" name="devicegroupid" value="{{ devicegroup.devicegroupid}}">

</form>


{% endblock %}