{% extends "layout.html" %}
{% block body %}
{% if room is none %}
<h2>Add Room</h2>
{% else %}
<h2>Edit Room</h2>
{% endif %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('save' , item='room' )}}" method=post>
    <label for="name">Room Name:</label>
    <input type="text" name="name" id="name" value="{{ room.name }}">

    <div class="ui-field-contain">
        <fieldset data-role="controlgroup">
            <legend>Room Groups:</legend>
            {% for roomgroup in roomgroups %}
            <input type="checkbox" name="checkbox_{{ roomgroup.roomgroupid }}" id="checkbox_{{ roomgroup.roomgroupid }}"
                   class="custom"
            {% if room is none %}{% else %} {% if room.is_member_of_roomgroup(roomgroup.roomgroupid) == true %} checked
            {% endif %}{% endif %} >
            <label for="checkbox_{{ roomgroup.roomgroupid }}">{{ roomgroup.name }}</label>

            {% else %}
            <li><em>Unbelievable. No room groups found so far</em>
                {% endfor %}


        </fieldset>
    </div>

    <ul data-role="listview" data-inset="true" data-shadow="false">
        {% for device in room.devices %}

        <li><a href="{{ url_for('edit' , item='device', id=device.deviceid )}}">{{ device.name }}</a><a
                href="{{ url_for('unlink' , item='roomdevice', id1=room.roomid, id2=device.deviceid )}}"
                data-icon="delete"></a></li>
        {% else %}
        <li><em>No devices allocated so far</em>
            {% endfor %}
    </ul>
    <div class="ui-grid-a">
        <div class="ui-block-a"><label for="select_device" class="select">Available Devices:</label>
        </div>
        <div class="ui-block-b">

        </div>
        <div class="ui-block-a">
            <select name="select_device" id="select_device" data-mini="true">
                {% for device in available_devices %}
                <option value="{{device.deviceid}}">{{device.name}}</option>
                {% endfor %}

            </select>
        </div>
        <div class="ui-block-b">
            <a href="Javascript: addDevice_click({{room.roomid}})" id="addDevice" data-role="button" data-mini="true"
               data-inline="true">add</a>
        </div>
    </div>
    <!-- /grid-a -->

    <button type="submit" name="save" value="save">save</button>
    <button type="cancel" name="cancel">close</button>
    <input type="hidden" id="roomid" name="roomid" value="{{ room.roomid}}">

</form>


{% endblock %}