{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

{% endif %}
<ul data-role="listview" data-inset="true" data-shadow="false">
    {% for room in rooms %}
    <div data-role="collapsible" data-iconpos="right" data-inset="false">
        <h2>{{ room.name }}</h2>

        <p>

        <div>
            {% for device in room.devices %}
            {% if device.devicetype == 'on_off' %}
            <div class="jqm-header ui-header ui-bar-a ui-corner-all">{{device.name}}:</div>


            <div data-role="controlgroup" data-type="horizontal">
                <a href="Javascript: ajaxAction ('on', {{device.deviceid}})"
                   class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-bottom">On</a>
                <a href="Javascript: ajaxAction ('off', {{device.deviceid}})"
                   class="ui-btn ui-corner-all ui-icon-forbidden ui-btn-icon-bottom">Off</a>
            </div>
            {% elif device.devicetype == 'dimmer' %}
            <div class="jqm-header ui-header ui-bar-a ui-corner-all">{{device.name}}:</div>
            <div class="ui-grid-b ui-responsive">
                <div class="ui-block-a">
                    <div data-role="controlgroup" data-type="horizontal">
                        <a href="Javascript: ajaxAction ('dim_on', {{device.deviceid}})"
                           class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-bottom">On</a>
                        <a href="Javascript: ajaxAction ('dim_off', {{device.deviceid}})"
                           class="ui-btn ui-corner-all ui-icon-forbidden ui-btn-icon-bottom">Off</a>
                    </div>
                </div>
                <div class="ui-block-b">
                    <div data-role="controlgroup" data-type="horizontal">
                        <a href="Javascript: ajaxAction ('dim_up', {{device.deviceid}})"
                           class="ui-btn ui-corner-all ui-icon-arrow-u ui-btn-icon-bottom">Up</a>
                        <a href="Javascript: ajaxAction ('dim_down', {{device.deviceid}})"
                           class="ui-btn ui-corner-all ui-icon-arrow-d ui-btn-icon-bottom">Down</a>
                    </div>
                </div>
                <div class="ui-block-c"><label for="dimLevel_{{device.deviceid}}">Dim Level:</label>

                    <div class="ui-grid-a ui-responsive">
                        <div class="ui-block-a" style="width:70%"><input type="range"
                                                                         name="dimLevel_{{device.deviceid}}"
                                                                         id="dimLevel_{{device.deviceid}}"
                                                                         value="50" min="0" max="100"
                                                                         data-highlight="true"/></div>
                        <div class="ui-block-b" style="width:30%"><a
                                href="Javascript: dimSet ( {{device.deviceid}})"
                                class="ui-btn ui-btn-inline ui-icon-action ui-btn-icon-left ui-corner-all">Set</a></div>
                    </div>
                </div>
            </div>
            <!-- /grid-b -->

            {% endif %}


            {% endfor %}
        </div>
        <div>
            {% for roomgroup in room.roomgroups %}
            {{roomgroup.name}} &NonBreakingSpace;
            {% endfor %}
        </div>

        </p>
    </div>
    {% else %}
    <li><em>Unbelievable. No rooms found so far</em>
        {% endfor %}
        {% if devicegroups !=None%}
        {% for devicegroup in devicegroups %}
        <div data-role="collapsible" data-iconpos="right" data-inset="false">
            <h2>{{ devicegroup.name }}</h2>

            <p>

            <div data-role="controlgroup" data-type="horizontal">
                <a href="Javascript: ajaxAction ('devicegroup_on', {{devicegroup.devicegroupid}})"
                   class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-bottom">On</a>
                <a href="Javascript: ajaxAction ('devicegroup_off', {{devicegroup.devicegroupid}})"
                   class="ui-btn ui-corner-all ui-icon-forbidden ui-btn-icon-bottom">Off</a>
            </div>
            <div>
                {% for device in devicegroup.devices %}
                {{device.name}} &NonBreakingSpace;
                {% endfor %}
            </div>
            </p>
        </div>
        {% else %}

        {% endfor %}
        {% endif %}
</ul>
{% endblock %}
