<!doctype html>
<title>homeControl</title>
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.mobile-1.4.2.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='jquery-1.11.1.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.mobile-1.4.2.js') }}"></script>
<script src="{{ url_for('static', filename='homecontrol.js') }}"></script>
<div id="homepage" class="page" data-role="page" data-url="{{ request.path }}" data-cache="never">
    <script>

        $(document).one('pageinit',"#homepage",function(evt){
           bindControls();
        });

    </script>

    <div data-role="header">
        <h1>homeControl</h1>
        {% if session.logged_in %}

        <a href="{{ jqm_url('show_home') }}" id='showHome' class="ui-btn-left" data-icon="home"
           data-iconpos="notext">home</a>
        <a href="#settingsMenu" id='showSettings' class="ui-btn-right" data-icon="gear"
           data-iconpos="notext">settings</a>


        <div></div>
        {% endif %}


        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
    <div class="ui-content">
        {% block body %}{% endblock %}

    </div>

    <div data-role="footer">
        {% if not session.logged_in %}
        <a class="ui-btn-right" href="{{ jqm_url('login') }}">log in</a>
        {% else %}
        <a class="ui-btn-right" href="{{ jqm_url('logout') }}">
            log out: {% if session.logged_in %}
            {{ user.first }}&nbsp;{{ user.last }}
            {% endif %}
        </a>
        {% endif %}
    </div>
    <div data-role="panel" id="settingsMenu" data-display="overlay">
        <a href="{{ url_for('list' , item='room' )}}" class="ui-btn ui-icon-plus ui-btn-icon-left">rooms</a>

        <a href="{{ url_for('list' , item='device' )}}" class="ui-btn ui-icon-plus ui-btn-icon-left">devices</a>
        <a href="{{ url_for('list' , item='user' )}}" class="ui-btn ui-icon-plus ui-btn-icon-left">users</a>
    </div>
    <!-- /panel -->
    <script>
        function bindControls() {


    }

    function addDevice_click (roomid){
        var deviceid =$('#select_device').val()
        if (deviceid != null) {
            url = '/link/roomdevice/' + roomid + '/' + deviceid //+ '?l=' + Math.random();
            $( ":mobile-pagecontainer" ).pagecontainer( "change", url)
        }
    }

    function dimSet (deviceid) {
        var sliderSelector = '#dimLevel_' + deviceid
        var level = $(sliderSelector).val()
        var action = 'dim_set_' + level
        ajaxAction(action, deviceid)

    }

    function ajaxAction (action, deviceid) {
        var url= '/device/' + action + '/' + deviceid
        $.get(url)
    }

    function autoAllocate () {
        var url = '/autoallocate'
        $.get( url , '', function (data) {populateAutoAllocate(data)}  , 'json' )
    }

    function populateAutoAllocate(data) {
        address = data.deviceaddress
        subid = data.subid
        //alert (address + ' ' + subid)
        $('#address').val(address)
        $('#subid').val(subid)
    }
    </script>

</div>

