<!doctype html>
<title>homeControl</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.mobile-1.4.2.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='jquery-1.11.1.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.mobile-1.4.2.js') }}"></script>
<script src="{{ url_for('static', filename='homecontrol.js') }}"></script>
<div class=page data-role="page" data-url="{{ request.path }}">


    <div data-role="header">
        <h1>homeControl</h1>
        {% if session.logged_in %}

        <a href="{{ jqm_url('show_home') }}" id='showHome' class="ui-btn-left" data-icon="home"
           data-iconpos="notext">home</a>
        <a href="#settingsMenu" id='showSettings' class="ui-btn-right" data-icon="gear"
           data-iconpos="notext">settings</a>


        <div></div>
        {% endif %}


        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
    <div class="ui-content">
        {% block body %}{% endblock %}

    </div>

    <div data-role="footer">
        {% if not session.logged_in %}
        <a class="ui-btn-right" href="{{ jqm_url('login') }}">log in</a>
        {% else %}
        <a class="ui-btn-right" href="{{ jqm_url('logout') }}">
            log out: {% if session.logged_in %}
            {{ user.first }}&nbsp;{{ user.last }}
            {% endif %}
        </a>
        {% endif %}
    </div>
    <div data-role="panel" id="settingsMenu" data-display="overlay">
        <a href="{{ jqm_url('showrooms') }}" class="ui-btn ui-icon-plus ui-btn-icon-left">rooms</a>

        <a href="#" class="ui-btn ui-icon-plus ui-btn-icon-left">add device</a>
        <a href="{{ jqm_url('adduser') }}" class="ui-btn ui-icon-plus ui-btn-icon-left">add user</a>
    </div>
    <!-- /panel -->

    <script>

    $(document).ready(function () {
        initLayout();
    });

    function initLayout() {

    }





    </script>
</div>