<!doctype html>
<title>homeControl</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.mobile-1.4.2.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='jquery-1.11.1.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.mobile-1.4.2.js') }}"></script>
<script src="{{ url_for('static', filename='homecontrol.js') }}"></script>
<div class=page data-role="page">
    <div data-role="header">
        <h1>homeControl</h1>
            {% if session.logged_in %}
                <a id='showSettings' class="ui-btn-left" href="void()" data-icon="gear" data-iconpos="notext">settings</a>
                <div></div>
            {% endif %}

            {% if not session.logged_in %}
            <a class="ui-btn-right" href="{{ jqm_url('login') }}">log in</a>
            {% else %}
            <a class="ui-btn-right" href="{{ jqm_url('logout') }}">
                log out:    {% if session.logged_in %}
                                {{ user.first }}&nbsp;{{ user.last }}
                            {% endif %}
            </a>
            {% endif %}

        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
    <div class="ui-content">
        {% block body %}{% endblock %}

    </div>

</div>