{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

{% endif %}
<ul data-role="listview" data-inset="true" data-shadow="false">
    {% for room in rooms %}

    <li><a href="{{ url_for('edit' , item='room', id=room.roomid )}}">{{ room.name }}</a><a
            href="{{ url_for('delete' , item='room', id=room.roomid )}}"
                                          data-icon="delete"></a></li>


    {% else %}
    <li><em>Unbelievable. No rooms found so far</em>
        {% endfor %}
</ul>
<a href="{{ url_for('add' , item='room' )}}" class="ui-btn ui-icon-plus ui-btn-icon-left">add room</a>
{% endblock %}